    <nav class="navbar navbar-dark bg-dark mb-4">
        <div class="container">
            <a href="/" class="navbar-brand">Healthy Pocket - Página Administrativa</a>
            <img src="/icons/logo.png" width="100px"  height="75px"/>
        </div>
    </nav>